/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* border-radius: 100vh; */
  background: #093252;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #49088a;
  border-radius: 100vh;
  border: 2px solid #5abaff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #E6B802; */
  border: 1px solid #e6b802;
}

::-webkit-resizer {
  background-color: #5abaff;
}